/* tekst błędu */
.error {
    color: red;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffe6e6;
    border: 1px solid red;
}
/*to co się wyświetla nad tabelą z wynikami*/
.info {
    color: #333;
    font-style: italic;
    margin: 10px 0;
}

.update-time {
    color: #666;
    font-size: 0.9em;
    margin-left: 10px;
}
.top-buttons {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.top-btn {
    flex: 1;
    text-align: center;
    padding: 16px 0;

    font-size: 1.2rem;
    font-family: var(--font-body);
    font-weight: 600;

    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 12px;
    text-decoration: none;

    transition: 0.25s ease-in-out;
}

/* Efekt hover */
.top-btn:hover {
    background-color: var(--color-secondary);
}

@media (min-width: 1280px) {
    body.news-page,
    body.news-page html {
        overflow: auto !important;
        height: auto !important;
        min-height: 100vh !important;
    }

    body.news-page .main-content {
        overflow: visible !important;
        height: auto !important;
        min-height: 0 !important;
        flex: none !important;
    }
}
